Servers.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="ArrayOfServerItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ServerItem" type="ServerItemType" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ServerItemType">
    <xs:sequence>
      <xs:element name="id" type="xs:string" />
      <xs:element name="name" type="xs:string" />
      <xs:element name="description" type="xs:string" />
      <xs:element name="emu" type="xs:string" />
      <xs:element name="server_host" type="xs:string" />
      <xs:element name="server_port" type="xs:int" />
      <xs:element name="type" type="ServerType" />
      <xs:element name="status" type="StatusType" />
      <xs:element name="website_url" type="xs:string" minOccurs="0" />
      <xs:element name="discord_url" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ServerType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PvE" />
      <xs:enumeration value="PvP" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Stable" />
      <xs:enumeration value="Development" />
      <xs:enumeration value="Experimental" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
